h2 {
    font-size: 75px;
    word-spacing: 40px;
    text-align: center;
    color: #36454F;
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
    width: 100%;
}

li {
    float: left;
    color: #36454F;
    width: 33%;
    margin-top: none;
    list-style: none;
    font-size: 35px;
    text-align: center;
}
body {
    background-color: #A09CB0;
    color: #36454F;
}
.navbar {
    width: 100%;
    background-color: #A09CB0;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #36454F;
    text-decoration: none;
    font-size: 17px;
    width: 23%;
    text-align: center;
}

.navbar a:hover {
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

.footer {
    width: 100%;
    background-color: #A09CB0;
    overflow: auto 0;
}

.footer li {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    width: 23%;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #36454F;
}

.footer a:hover {
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

h3 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: #36454F;
}

body {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#newWorld {
    margin-left: 100px;
    margin-top: 65px;
    height: 75%;
    width: 75%;
}
.column a {
    text-decoration: none;
    color: #36454F;
}
.column a:hover {
    color: #FFFFFF;
}