h2 {
    font-size: 75px;
    word-spacing: 40px;
    text-align: center;
    text-decoration-color: #C2B280;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-size: 50px;
    word-spacing: 30px;
    text-align: center;
    text-decoration-color: #C2B280;
    margin-top: 0px;
}
body {
    background-color: #A09CB0;
}
.navbar {
    width: 100%;
    background-color: #A09CB0;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    text-decoration-color: #987D7C;
    text-decoration: none;
    font-size: 17px;
    width: 23%;
    text-align: center;
}

.navbar a:hover {
    text-decoration-color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}